@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}
body{
    font-family: 'Noto Sans TC';
}
img{
    max-width: 100%;
}
.top{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 50px;
    right: 0;
    top: 0;
    
}
.banner{
    width: 100%;
}
.top div a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    font-size: 24px;

}
nav{
    display: flex;
    margin-left: 80px;
    width: 80%;
}
h1{
    font-size: 40px;
    color: rgba(36, 19, 83,1);
    position: absolute;
    top: 50%;
    font-weight: bold;
    left: 7%;
    width: 45%;
    line-height: 2em;
}
h2{
    color: #241353;
}
h3{
    color: #241353;
}
header{
    position: relative;
}
a img{
    position: relative;
}
.logo{
    position: absolute;
    left: 9%;
    top: 0;
}
.innerbanner{
    width: 100%;
}
.bodytop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.style{
    display: flex;
    height: 160px;
    width: 160px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(229, 255, 188, 1);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 2%;
}
.totop{
    display: flex;
    height: 70px;
    width: 70px;
    position: fixed;
    border-radius: 50%;
    background-color: rgba(229, 255, 188, 1);
    align-items: center;
    justify-content: center;
    right: 30px;
    bottom: 30px;
    z-index: 1;
    
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.container a{
    width: 100%;
}
.newss{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    line-height: 30px;
}
a{
    text-decoration: none;
}
.newsTitle{
    font-size: 30px;
    margin: 20px;
}
.newsData{
    font-size: 26px;
    margin: 20px;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
    font-size: 30px;
    font-weight: bold;
}
ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.bd{
    border: 1px solid black;
    padding: 4px;

}
.morepicc{
    margin: auto;
}
.card{
    margin: 20px;
    position: relative;
}
.card-text{
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 0.3em;
    line-height: 50px;
}
.card-text a{
    border: #000 1px solid;
    border-radius: 10px;
    position: absolute;
    padding-left: 0.3em;
    right: 0;
    bottom: 0;
    
}
.card-text a:first-of-type{
    bottom: 10%;
}

.card-text1 a:hover{
    background-color: #000;
    color: #fff;
}
.detailsC{
    width: 30%;
}
.ww{
    width: 100%;
    
}

.more{
    font-size: 24px;
    width: 250px ;
    height: 75px;
    border: 1px solid black;
    color: #000;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.more:hover{
    background-color: #000;
    color: #fff;
}
.know{
    top: 5%;
    left: 85%;
    width: 6%;
    height: 8%;
}

.card span{
    z-index: 1;
    position: absolute;
    top: 50%;  
    right: 43.2%;
    font-size: 24px;
    display: none;
}
.type a img{
    transition: .5s;
}
.type a:hover img{
    opacity: .3;
    
}
.type li:hover span{
    display: inline;
}
a {
    text-decoration: none;
}
footer{
    position: relative;
    font-size: 24px;
}
.fimg{
    width: 100%;
}
.bot {
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
    width: calc(100%-20px);
    justify-content: start;
    z-index: 1;

}
.bot a{
    margin: 10px;
    
}
.card-text a:hover{
    background-color: #000;
    color: #fff;
}
.follow{
    position: absolute;
    right: 10%;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.follow a{
    margin: 1%;
}
.photographer img{
    width: 100%;
}
.pps{
    display: flex;
    
}
.pr{
    width: 30%;
}
.intro{
    width: 50%;
    line-height: 300%;
    margin: 0;
}


/*
.fbsend{
    font-size: 24px;
    width: 150px ;
    height: 50px;
    border: 1px solid black;
    color: #000;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fbsend:hover{
    background-color: #000;
    color: #fff;
}
.more:hover{
    background-color: #000;
    color: #fff;
}

.bodytype{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
footer{
    position: relative;
}
.footerImg{
    width: 100%;
}
.foot{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 9%;
    margin-top: 20px;
}
.foot div a{
    color: black;
    text-decoration: none;
    margin:0 20px 0 20px;
    font-size: 24px;
}
.follow{
    margin: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
.follow span{
    margin-left: 50px;
    font-size: 24px;
}
.account div{
    margin: 50px;
    text-align: center;
}
.account div a{
    text-decoration: none;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
}
.type{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.innernav{
    margin-bottom: 250px;
}

.ccard{
    box-shadow: 8px 8px 8px #0003 ;
    overflow: hidden;
    width: 95%; 
}

.photographer{
    
    margin-top: -200px;
    
}
.newsTitle{
    color: #000;
}
.intro{
    width: 78%;
    margin: auto;
    /* margin-left: 180px; 
    margin-top: -120px;
    
    background-color: #F9FFEF;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 0.15em;
    
}*/
.pp{
    margin: auto;
    margin-top: 1em; 

}
.pp img{
    width: 100%;
}
h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
.comment{
    margin: auto;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;  
    margin-bottom: 50px;
    
}
.qq{
    margin-left: 1.5em;
}
.card-text span{
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
}
.card-text span:hover{
    color: white;
    background-color: #000;
}
.meet:hover{
    color: white;
    background-color: #000;
    
}
.meet{
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
}
.comment .card-body{
    flex-direction: column;
}
.comment .card-body img{
    width: 300px;
    height: 200px;
}
.ccard p{
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 50px;
}
.ccard img{
    
}
.comment .row .comdiv .ccard{
    box-shadow: none;
}
.comdiv{
    border: 1px solid black;
}
.morepic{
    display: flex;
    justify-content: center;
    
}
.morepic div{
    margin: 10px;
}
.morepicc{
    margin-right: 16%;
    margin-bottom: 200px;
}

.underline{
    border-bottom: #000 solid 1px;
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
}
.innernav img{
    margin: 0;
}
.picintro{
    margin-left: -300px;
    background-color: #F9FFEF;
    
}
.picintro p{
    line-height: 50px;
}
/* .index{
    margin: 0;
    margin-left: -100px;
    padding: 0;
} */
.pintro{
    font-size: 24px;
    margin-top: 30px;
}
.circle{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: #000 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
}
.detailsC img{
    margin-left: 5%;
}

/* .circleword{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: #000 3px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
} */
.drow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    margin-top: 100px;
}
.cw{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    
    
}


.dtext{
    font-size: 14px;
    text-align: center;
    margin-bottom: 100px;
}
.dmore{
    margin-left: 70.5%;
}
.pgnum{
    margin-left: 50%;
    margin-bottom: 30px;
    letter-spacing: 1em;
}
.page{
    font-size: 24px;
}
.newsword{
    font-weight: bold;
    color: #241353;
}
.newsnav{
    margin-bottom: 0;
}
.newspgnum{
    margin-left: 45%;
}
.main-faq li{
    border: 1px solid black;
    margin: 10px;
    margin-left: 400px;
    margin-right: 300px;
    font-size: 24px;
    padding: 10px;
}

.main-faq ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.faq input{
    display: none;
}
.ans{
    max-height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;

    transition: max-height 1s;
}
.ans li{
    margin-left: 2em;
    border: none;
    margin-right: 2em;
}
.faq input[type="checkbox"]:checked ~ .ans{
    max-height: 100vh;
}
.faq input[type="checkbox"]:checked ~ .icon1{
    display: none;
}
.faq input[type="checkbox"]:checked ~ .icon2{
    display: inline;
}
.icon1{
    font-size: 24px;
}
.icon2{
    font-size: 24px;
    display: none;
    
}
.main-nav ul.faq li{
    display: flex;
    align-items: center;
    border-top: 1px solid #fff;
    flex-wrap: wrap;
}
.main-nav ul.faq li a{
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    color: #fff;
    box-sizing: border-box;
    width: calc(50% - 30px);
    
}
.main-nav ul.faq li .icon{
    width: 30px;
    height: 30px;
    /* background-color: #f00; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hfaq{
    margin-bottom: 40px;
    margin-top: 50px;
}
.feedback{
    width: 50%;
    margin: auto;
    border: #000 solid 1px;
    
    padding: 30px;
    
    margin-bottom: 100px;
    
}
.feedback input{
    border: none;
    border-bottom: #999 2px solid;
    margin: 10px;
}
.feedback textarea{
    border: solid 1px black;
    width: 94%;
    margin: auto;
    margin-left: 1.2%;
    height: 200px;
    margin-top: 20px;
}
.send{
    position: absolute;
    right: 30.5%;
}
.about{
    font-size: 24px;
    border: #000 1px solid;
    width: 40%;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
    box-shadow: 8px 8px 8px #0003 
}
.comdiv{
    box-shadow: 8px 8px 8px #0003 
}
a{
    color: #000;
}
#logo{
    width: 10%;
    margin-top: 10px;
}